<section class="modal">
    <div class="modal-content">
        <div class="create-post">
            <h2>Create New Post</h2>
            <form class = "new-post-form">
                <div>
                    <input type="text" id="new-post-title" name="new-post-title" placeholder="Title" />
                </div>
                <div>
                    <textarea id="new-post-body" name="new-post-body" placeholder="Content"></textarea>
                </div>
                <button type="submit" class="btn">Publish</button>
                <button type="button" id="btn-close" class="btn btn-close">Close</button>
            </form>
        </div>
    </div>
</section>

<button type="button" id="add-new-post" class="btn">Write New Blog Post</button>

{{#if posts.length}}
<section class="dashboard-list">
    <h2>Your Blog Posts</h2>
    <div class="posts-dashboard">
        {{#each posts as |post|}}
        <div class="posts-list-item-dashboard">
            {{> post-info post=post dashUserId=dashUserId}}
            </div>
        {{/each}}
    </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
{{#if posts.length}}
<script src="/javascript/dash-delete.js"></script>
{{/if}}