<section>
    <div class="edit-post-container">
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div id="edit-post-title">
            <input name="edit-post-title" id="edit-post-title" type="text" value="{{post.title}}" />
        </div>
        <div class="edit-post-body">
            <input name="edit-post-body" id="edit-post-body" type="text" value="{{post.post_text}}"/>
        </div>
        <div>
            <span>Posted by you on {{format_date post.created_at}}</span>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-post">Save Post</button>
            <button type="button" class="btn btn-delete">Delete Post</button>
            <button type="button" class="btn btn-comment">Add Comment</button>
        </div>
    </form>
    </div>
</section>

<div class="comment-modal">
    <form class="comment-form">
        <div>
            <textarea name="comment-body" placeholder="Comment Here"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </form>
</div>

{{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>