 <form class="login-form">
     <div>
         <label for "username-login">User Name:</label>
         <input type="text" id="username-login" placeholder="Your User Name" />
     </div>
     <div>
         <label for "password-login">Password:</label>
         <input type="text" id="passowrd-login" placeholder="Password" />
     </div>
     <div>
         <button type="submit">login</button>
     </div>
     <div>
        <a href="/signup"><button id="signup" class="btn-no-style">Don't have an account? Sign up!</button></a>
     </div>
 </form>
 <script src="/javascript/login.js"></script>