<div class="posts-list-item">
    {{> post-info post}}
</div>

<div class="comments">
    {{> comments post.comments}}
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-comment">Add Comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}