<a class="back" href="/"> &larr; Back to Homepage</a>
<div class="posts-list-item">
    {{> post-info post}}
</div>
{{#if post.comments.length}}
<div class="comments">
    {{> comments comments=post.comments postAuthorId=postAuthorId dashUserId=dashUserId}}
</div>
{{/if}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-comment">Add Comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
{{#if postOwner}}
<script src="/javascript/delete-comment.js"></script>
{{/if}}